[submodule "opensfm/src/third_party/pybind11"]
	path = opensfm/src/third_party/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "opensfm/src/third_party/gflags"]
	path = opensfm/src/third_party/gflags
	url = https://github.com/gflags/gflags.git
