cloudpickle==0.4.0
exifread==2.1.2
flask==2.3.2
fpdf2==2.4.6
joblib==0.14.1
matplotlib
networkx==2.5
numpy>=1.19
Pillow>=8.1.1
pyproj>=1.9.5.1
pytest==3.0.7
python-dateutil>=2.7
pyyaml==6.0.1
scipy>=1.10.0
Sphinx==4.2.0
six
xmltodict==0.10.2
wheel
opencv-python==4.5.1.48 ; sys_platform == "win32"
opencv-python ; sys_platform == "linux"
