body {
    margin: 0;
    padding: 0;
    background-color: #0F0F0F;
}

html,
body,
.opensfm-viewer {
    width: 100%;
    height: 100%;
}

.opensfm-file-container.opensfm-hidden,
.opensfm-control-container.opensfm-hidden,
input[type='file'] {
    display: none;
}

.opensfm-file-container {
    position: absolute;
    left: 10%;
    height: 37%;
    border-radius: 25px;
    background-color: #202020;
    min-width: 100px;
    display: block;
    right: 10%;
}

.opensfm-file-pick {
    top: 10%;
    border: 3px solid white;
    cursor: pointer;
}

.opensfm-file-drop {
    bottom: 10%;
    border: 3px dashed white;
}

.opensfm-file-pick:hover {
    border: 3px solid cyan;
    background-color: #101010;
}

.opensfm-file-drop-hover {
    border: 3px dashed cyan;
    background-color: #101010;
}

.opensfm-file-text {
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    pointer-events: none;
    user-select: none;
}

.opensfm-info-container {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 200px;
    max-width: calc(100% - 319px);
    margin-left: 15px;
    user-select: none;
    pointer-events: none;
}

.opensfm-control-container {
    display: block;
    width: calc(100% - 2px);
    background-color: #1a1a1a;
    border: 1px solid #888;
    font: 11px 'Lucida Grande', sans-serif;
    pointer-events: initial;
}

@media screen and (max-width: 640px) {
    .opensfm-info-container {
        max-width: calc(100% - 32px);
    }
}

.opensfm-thumb {
    width: 100%;
    display: block;
    border-top: 1px solid #444;
    border-bottom: 1px solid #444
}

.opensfm-info-text {
    overflow-wrap: break-word;
    color: #eee;
    display: block;
    margin: 2px;
}

.opensfm-info-text.opensfm-info-inline {
    display: inline-block;
}

.opensfm-info-text-header {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    background-color: #000;
}

.opensfm-popup-container {
    pointer-events: none;
    user-select: none;
    z-index: 1;
}

.opensfm-popup-container.opensfm-popup-up {
    transform: translate(0, -100%);
}

.opensfm-popup {
    color: black;
    background-color: white;
    border-radius: 2px;
    padding: 6px 10px;
}

.opensfm-popup-arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    margin-left: 10px;
}

.opensfm-popup-arrow.opensfm-popup-up {
    border-top: 5px solid white;
}

.opensfm-popup-arrow.opensfm-popup-down {
    border-bottom: 5px solid white;
}
