body {
    margin: 0;
    padding: 0;
    background-color: #0F0F0F;
}

html,
body,
.opensfm-viewer {
    width: 100%;
    height: 100%;
}

.file-container.hidden,
.info-container.hidden,
    input[type='file'] {
    display: none;
}

.file-container {
    position: absolute;
    left: 10%;
    height: 37%;
    border-radius: 25px;
    background-color: #202020;
    min-width: 100px;
    display: block;
    right: 10%;
}

.file-pick {
    top: 10%;
    border: 3px solid white;
    cursor: pointer;
}

.file-drop {
    bottom: 10%;
    border: 3px dashed white;
}

.file-pick:hover {
    border: 3px solid cyan;
    background-color: #101010;
}

.file-drop-hover {
    border: 3px dashed cyan;
    background-color: #101010;
}

.file-text {
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: 900;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    pointer-events: none;
}

.info-container {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 17px;
    min-width: 100px;
    max-width: calc(100% - 347px);
    background-color: black;
    border: 1px solid #555;
    user-select: none;
}

@media screen and (max-width: 640px) {
    .info-container {
        max-width: calc(100% - 34px);
    }
}

.info-image {
    width: 100%;
    display: block;
}

.info-text {
    overflow-wrap: break-word;
    color: #eee;
    font: 11px 'Lucida Grande', sans-serif;
}
