<!DOCTYPE html>
<html>
    <head>
        <title>Test</title>
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        <link rel="stylesheet" href="/static/css/CADAnnotation.css">
        <script type="module" src="/static/js/main.js"></script>


    </head>
    <body>
        <div id="header">
            <h3>Basic Scene with flying camera</h3>
            <p>
            Move: w a s d r f<span class="blue">|</span>
            Look: arrow keys / drag mouse<span class="blue">|</span>
            Roll: q e
            </p>
        </div>
        <div id="viewport"></div>
    </body>
</html>
