<!DOCTYPE html>
<html>
    <head>
        <title>CAD View</title>
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        <link rel="stylesheet" href="/static/css/CADAnnotation.css">
        <script type="module" src="/static/js/main.js"></script>


    </head>
    <body>
        <div>
            <h3 id="header">No point selected</h3>
            <p id="instructions">
                Annotate: CTRL + left click
                Remove annotation: CTRL + right click
                Camera controls: left/right click + drag
            </p>
        </div>
        <div id="viewport"></div>
    </body>
</html>
